<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<!-- Simplified log4j2.xml for Spring Boot: removes openmrs: custom lookups that fail
     before the OpenMRS context is ready, and removes the Memory appender (custom plugin).
     The original openmrs log4j2 config is reconfigured at runtime by OpenMRS internals. -->

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
	<Properties>
		<Property name="defaultPattern">%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n</Property>
		<Property name="logDir">E:/JavaUpgradeDemo/openmrs-logs</Property>
	</Properties>
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout pattern="${defaultPattern}" />
		</Console>
		<RollingFile name="OPENMRS FILE APPENDER"
					 fileName="${logDir}/openmrs.log"
					 filePattern="${logDir}/openmrs.%i.log">
			<PatternLayout pattern="${defaultPattern}" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>
		<!-- Null appender as placeholder; OpenMRS initializes a real Memory appender at runtime -->
		<Null name="MEMORY_APPENDER" />
	</Appenders>
	<Loggers>
		<Logger name="org.apache" level="WARN" />
		<Logger name="org.hibernate" level="WARN" />
		<Logger name="net.sf.ehcache" level="ERROR" />
		<Logger name="org.springframework" level="WARN" />
		<Logger name="org.openmrs" level="INFO" />
		<Logger name="liquibase" level="INFO" />
		<Logger name="org.openmrs.api" level="INFO" />
		<Logger name="org.apache.fop" level="ERROR" />
		<Logger name="org.springframework.context.support.ResourceBundleMessageSource" level="ERROR" />
		<Logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory" level="ERROR" />
		<Logger name="org.hibernate.orm.deprecation" additivity="false" level="ERROR"/>
		<!-- suppress Spring Boot ordering WARNs that are harmless in OpenMRS -->
		<Logger name="org.springframework.context.support.PostProcessorRegistrationDelegate" level="ERROR" />
		<Root level="WARN">
			<AppenderRef ref="CONSOLE" />
			<AppenderRef ref="MEMORY_APPENDER" />
			<AppenderRef ref="OPENMRS FILE APPENDER" />
		</Root>
	</Loggers>
</Configuration>
